[Unit]
Description=Asus Power Master Smart Monitor
After=multi-user.target

[Service]
Type=simple
# Ensuring the service starts your script with the correct parameter
ExecStart=/usr/local/bin/asus-pwr --monitor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
